<div class="sidenav">
    <img src="../../assets/sidenav-pic.jpeg" alt="dp" class="dp-pic">
    <h2>{{ person.name }}</h2>
    <div class="sub">{{ person.title }}</div>
    <ul id="sidenav-contents">
        <li id="sidenav-sec" (click)="scrollTo('aboutme')">About Me
            <ng-container *ngIf="currentSection ==='aboutme'">!!!!</ng-container>
        </li>
        <li id="sidenav-sec" (click)="scrollTo('portfolio')">Portfolio
            <ng-container *ngIf="currentSection ==='portfolio'">!!!!</ng-container>
        </li>
        <li id="sidenav-sec" (click)="scrollTo('skills')">Skills
            <ng-container *ngIf="currentSection ==='skills'">!!!!</ng-container>
        </li>
        <li id="sidenav-sec" (click)="scrollTo('contactme')">Contact Me
            <ng-container *ngIf="currentSection ==='contactme'">!!!!</ng-container>
        </li>
        <li id="sidenav-sec" style="padding-top: 20px;">
            <a href="https://drive.google.com/file/d/136sEhalkz4lvpSgX6AwGC2uB9RXUycCT/view?usp=sharing" target="blank">
                Resume
            </a>
        </li>
    </ul>
    <div class="sidenav-social">
        <p>Connect With Me</p>
        <div class="i-social">
            <a href="mailto:kong_yang828@hotmail.com" target="blank"><img src="../../assets/icons/outlook.png" alt=""></a>
            <a href="https://www.linkedin.com/in/kong-yang-393a35182/" target="blank"><img src="../../assets/icons/linkedin.png" alt=""></a>
            <a href="https://github.com/kyang0626" target="blank"><img src="../../assets/icons/github.png" alt=""></a>
        </div>
    </div>
</div>

