/* main blue: rgb(5,131,176) */

.sidenav {
    position: fixed;
    height: 100%;
    width: 20%;
    background: 
        linear-gradient(
        rgb(5,131,176, 0.9),
        rgb(5,115,155, 0.8),  
        rgba(5, 28, 40, 0.7)
        ),
        url("https://upload.wikimedia.org/wikipedia/commons/0/0b/Skyline_of_Charlotte_2016.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    text-shadow: 1px 1px 2px black,
    2px 2px 4px rgba(0, 0, 0, 0.625);
    text-align: center;
    z-index: 2;
    padding: 20px;
    text-transform: uppercase;
}

#sidenav-contents {
    text-align: left;
    letter-spacing: 1px;
    margin: 4px;
    color: rgba(255, 255, 255, 0.8);
}

.dp-pic {
    border-radius: 50%;
    width: 70%;
    padding: 10px;
}

.sidenav h2 {
    text-align: center;
    color: white;
}

.sub {
    text-align: center;
    padding-bottom: 40px;
    color: rgba(255, 255, 255);
}

.sidenav li {
    list-style-type: none;
    text-align: left;
    padding-left: 18px;
    margin: 4px;
    font-size: 14px;
    font-weight: 200;
}

.sidenav a {
    color:rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.sidenav a:hover {
    color: white;
    font-size: 16px;
}

ul {
    padding-left: 0;
}

#sidenav-sec {
    padding: 2px;
    width: 100px;
}

#sidenav-sec:hover {
    font-size: 16px;
    cursor: pointer;
    color: rgba(255, 255, 255);
    font-weight: 400;
}

.sidenav-social {
    margin: 60px 0 0 10px;
    color: white;
    font-weight: 200;
    text-align: left;
}

.sidenav-social p {
    font-size: 10px;
}

.i-social img {
    opacity: 0.8;
    padding-right: 10px ;
}

/*=============== MEDIA QUERIES =======================*/

@media (max-width: 768px) {
    .sidenav {
        position: relative;
        height: 300px;
        width: 100%;
        background: rgb(5, 111, 150);
        background-repeat: no-repeat;
        background-size: cover;
        text-shadow: 1px 1px 2px black,
        2px 2px 4px rgba(0, 0, 0, 0.625);
        text-align: center;
    }

    .dp-pic {
        width: 24%;
    }

    #sidenav-contents {
        display: none;
    }
    
  }