<div id="parentDiv">
    <div class="bg"></div>
    <div class="about-me" id="aboutme">
        <label for="aboutme-label">About Me</label>
        <hr class="content-hr"> 
        <div class="about-content">
            <div class="quote"> | Full-Stack Developer with a background in Kinesiology</div>
            <p class="bio">
                Graduated from the <span style="color: rgb(29, 51, 106); font-weight: bold;">University of North Carolina, Greensboro</span> in
                2016 with a
                <span style="color: rgb(198, 198, 29); font-weight: bold;">Bachelor of Science
                    degree in Sports Medicine.</span>  After upon completion, I have decided to take some time
                off to work and
                put
                some thoughts to my decision to
                see whether if I really want to continue my eduction and pursue a career in the
                health and fitness
                field
                or find a new career path. 
                In the mean time,
                I work in manufacturing jobs such as <span style="font-weight: bold;">GKN</span>  and <span style="font-weight: bold;">Corning INC.</span>  while still figuring out
                my pursuit.
                <br>
                <br>
                After some time, I was introduce to coding by a close friend who is a web developer and
                he recommended me to give it a try with web development, and maybe it can change my
                life like it did
                his.
                I took interest, and decided to search online for coding bootcamps.
                I have decided to change my career and pursue coding. I attended the <span style="color: rgb(23, 120, 23); font-weight: bold;">UNCC
                    Full-Time Full Stack
                    Developer</span> bootcamp in 2019,
                with the aspiration of becoming a software engineer/web developer after graduation.
                <br>
                <br>
                About 3 months after completing my bootcamp, I took an opportunity with <span style="font-weight: bold; color: rgb(39, 109, 173);">Cognixia's JuMP </span>program , which is a 6 weeks 
                hire-train-deploy opportunity that helps students  with a computer science degree or background further their knowledge and get a job. I have completed the program, 
                but unfortunately, I was not one of the chosen 
                candidates for their clients. 
                <br>
                <br>
                <span style="position: relative; left: 60px; text-shadow: black; color: gray; font-weight: bold; font-style: italic; font-size: 16px; letter-spacing: 2px;">FAST FORWARD, 2020 . .  .  .</span>
                <br>
                <br>
                Currently, I am looking for an entry-junior software development/engineering full-time or contract opportunities, preferably in the Charlotte and Raleigh, NC area.
                While actively seeking for opportunities, I am advancing my knowledge at home using <span style="font-weight: bold; color: orange;">Udemy</span> and <span style="font-weight: bold; color: red;">YouTube</span> as my learning resouces.
                I am currently working on advancing my previous skills in  <span style="font-weight: bold; font-style: italic;">C#, ASP.NET CORE, Angular, and MySQL</span> . 
            </p>
        </div>
    </div>
    <div class="bg2"></div>
    <div class="portfolio" id="portfolio">
        <label for="porfolio-label">Portfolio</label>
        <hr class="content-hr">
        <div class="port-content">
            <p>Some of my works recently and in the past.</p>
            <div class="port-timeline">
                <ul>
                    <li class="li-element">
                        <div class="li-date">
                            <h4>Now</h4>
                        </div>
                            <div class="timeline-cont">
                                <strong>Open for training and contract positions.</strong>
                                <br>
                                <p>Looking for an entry/junior C# software development role.</p> 
                                <br>
                                <p>Currently, learning <span style="color: red; font-weight: bold;">Angular</span> on Udemy <br> with the course: <span style="font-weight: bold;">Angular---The Complete Guide Project</span></p>
                                <hr>
                            </div>
                    </li>
                    <li class="li-element"><div class="li-date"><h4>2019 - 2020</h4></div><div class="timeline-cont">
                        <strong>Cognixia</strong>
                        <br>
                        <br>
                        <div class="cognixia-projects">
                            <p>Below are 3 of the console applications I have worked on using <span style="color: purple; font-weight: bold;">C#</span> during the time at Cognixia.</p>
                            <div class="container">
                                <div class="row">
                                    <div class="col-xl-4">
                                        <p>project 1: Hangman</p>
                                        <img src="" alt="" id="img-proj">
                                        <p>Hangman, like the game, is a console application that asks the user to enter a letter and see if it matches the chosen word.</p>
                                        <p>Purpose: demonstrating C# basics - if @ else conditons, loops, and data.</p>
                                    </div>
                                    <div class="col-xl-4">
                                        <p>project 2: Number Validator</p>
                                        <img src="" alt="" id="img-proj">
                                        <p>Number Validator is a console app that asks the user to enter a phone number and it will validate if it is a real phone number.</p>
                                        <p>Purpose: demonstrating C# basics - if @ else conditons, loops, and data.</p>
                                    </div>
                                    <div class="col-xl-4">
                                        <p>project 3: Cash Register</p>
                                        <img src="" alt="" id="img-proj">
                                        <p>Cash Register is a console application that allows the user to look for specific produce by entering letters.</p>
                                        <p>Purpose: implementing Object-Orienting Programming</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <strong>UNCC Coding Bootcamp: 3 Big Projects</strong>
                        <div class="proj-element">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xl-6"> 
                                        <div class="proj-description">
                                            <a href="https://projectecomm.herokuapp.com/"><h4 class="project-title">Koscowix</h4></a>
                                            <p class="projects-para">Koscowix is an e-commerce website that sells high-end luxurious watches.</p>
                                            <p class="projects-para">From stylish sports to bold fashion statements, Koscowix combines unique features and gadgets with a wide range of colours and shapes.</p>
                                            <ul class="projects-functions">
                                                <li>A webapp built with mainly React.js</li>
                                                <li>An environment for customers with sense of fashion and elegance.</li>
                                            </ul>
                                            <br>
                                            <a href="https://github.com/kyang0626/Project-3"><button id="github-btn">Github Info</button></a>
                                            <br>
                                            <br>
                                            <h6 class="tech-proj">TECHNOLOGIES</h6>
                                            <button id="tech-buttons">React.js</button>
                                            <button id="tech-buttons">JavaScript</button>
                                            <button id="tech-buttons">MySql DB</button>
                                            <button id="tech-buttons">Node.js</button>
                                            <button id="tech-buttons">Bootstrap</button>
                                            <button id="tech-buttons">Sequelize</button>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="proj-img-holder">
                                            <a href="https://projectecomm.herokuapp.com/"><img id="img-proj" src="../../assets/project-3.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <br>
                    <hr class="proj-separate">
                        <div class="proj-element">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="proj-description">
                                            <a href="https://sithub-project.herokuapp.com/"><h4 class="project-title">Sithub</h4></a> 
                                            <p class="projects-para">Sithub is an online babysitting platform. It connects families with caregivers and allows the parents to have some time to themselves.</p>
                                            <ul class="projects-functions">                
                                                <li>Users can register as a babysitter or a parent.</li>
                                                <li>After some online asssessments, the app will find the most suitable candidate for babysitting</li>
                                            </ul>
                                            <br>
                                            <a href="https://github.com/Lara-E/SitHub"><button id="github-btn">Github Info</button></a>
                                            <br>
                                            <br>
                                            <h6 class="tech-proj">TECHNOLOGIES</h6>
                                            <button id="tech-buttons">Materialize</button>
                                            <button id="tech-buttons">JavaScript</button>
                                            <button id="tech-buttons">MySql DB</button>
                                            <button id="tech-buttons">Handlebars.js</button>
                                            <button id="tech-buttons">Sequelize</button>
                                            <button id="tech-buttons">Node.js</button>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="proj-img-holder">
                                            <a href="https://sithub-project.herokuapp.com/"><img id="img-proj" src="../../assets/project-2.png" alt=""></a>
                                    </div>
                                    </div>
                                </div>
                            </div>            
                        </div>
                        <hr class="proj-separate">
                        <div class="proj-element">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="proj-description">
                                            <a href="https://kyang0626.github.io/group-webpage/"><h4 class="project-title">N'STANT</h4></a>  
                                            <p id="nstant-quite" style="font-size: 14px; font-style:italic;">"We all know how frustrating it is to look for some specific food and not be able to find what you want even after spending time going from website to website."</p>
                                            <p class="projects-para">N'STANT is an easy to use webpage that allows users to find food places near them using their device's location.</p>
                                            <ul class="projects-functions">
                                                <li>Users can now make a decision on what to eat in an instant.</li>
                                                <li>App only shows food places with a short distance from their location.</li>                                                
                                            </ul>
                                            <br>
                                            <a href="https://github.com/kyang0626/group-webpage"><button id="github-btn">Github Info</button></a> 
                                            <br>
                                            <br>
                                            <h6 class="tech-proj">TECHNOLOGIES</h6>
                                            <button id="tech-buttons">Bootstrap</button>
                                            <button id="tech-buttons">JavaScript</button>
                                            <button id="tech-buttons">Firebase</button>
                                            <button id="tech-buttons">JQuery</button>
                                            <button id="tech-buttons">Node.js</button>
                                            <button id="tech-buttons">API</button>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="proj-img-holder">
                                            <a href="https://kyang0626.github.io/group-webpage/"><img id="img-proj" src="../../assets/project-one.png"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                    </li>
                        <li class="li-element"><div class="li-date"><h4>2018 - 2019</h4></div><div class="timeline-cont">Manufacture Associate at Corning Inc.</div>
                        </li>
                        <div style="clear:both;"></div>
                </ul>
            </div>
        <br>
        <br>
        <p style="margin: 20px 40px 80px 40px; float: right; font-style: italic;">More of all the small works I did during the 2019 UNCC Coding Bootcamp can be found at my 
            <a href="https://www.github.com/kyang0626?tab=repositories" target="blank" style="font-weight: bold;">GitHub</a>.
        </p>
        <br>
        <br>   
    </div>
    </div>
    <div class="bg2"></div>
    <div class="skills" id="skills">
        <label for="skills">Skills</label>
        <hr class="content-hr">
        <div class="container">
            <div class="row">
                <div *ngFor="let skill of skills" class="col-4" id="skill-icons">
                    <p>{{ skill.name }}</p>
                    <img src="../../assets/skills-icons/cSharp-logo.png" alt="" style="height: 100px;">
                </div>
            </div>
        </div>
    </div>
    <div class="contact" id="contactme">
        <label class="content">Contact Me</label>
            <hr class="content-hr">
            <div class="inner-content">
                <div class="container" id="contact-container">
                    <div id="contact-row" class="row">
                        <p id="p-contact">Email:</p><p><a id="a-contact" href="#" target="blank">kong_yang828@hotmail.com</a></p>     
                    </div>
                    <div id="contact-row" class="row">
                        <p id="p-contact">LinkedIn:</p><p><a id="a-contact" href="https://www.linkedin.com/in/kong-yang-393a35182/" target="blank">https://www.linkedin.com/in/kong-yang-393a35182/</a></p>
                    </div>
                    <div id="contact-row" class="row">
                        <p id="p-contact">Github:</p><p><a id="a-contact" href="https://www.github.com/kyang0626/" target="blank">https://www.github.com/kyang0626</a></p>
                    </div>
                    <div id="contact-row" class="row">
                        <p id="p-contact">Facebook:</p><p><a id="a-contact" href="https://www.facebook.com/kylemclovin93" target="blank">https://www.facebook.com/kylemclovin93</a></p>
                    </div>
                </div>
            </div>    
    </div>
    <!-- PARENT CONTAINER -->
</div>







