/* main font-color:  rgb(53, 53, 53)*/

.bg {
    /* background-image: url("../../assets/bg/charlotte3.jpg"); */
    background: white;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 500px;
    width: 100%;
    
}

.bg2 {
    background-image: url("../../assets/bg/programming.jpeg");
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 250px;
    filter: blur(2px);
    -webkit-filter: blur(0px);
    z-index: -1;
    width: 167%;
    right: 214px;
    bottom: 74px;
    display: none;
}

.bg2-mobile {
    background: white;
    height: 300px;
}

.section-separator {
    position: relative;
    /* display: none; */
}

.section-separator:nth-child(2) {
    background: rgb(5, 130, 176);
    clip-path: polygon(0 0%, 100% 20%, 100% 80%, 0 60%);
    padding: 12rem 20%;
}

.section-separator2:nth-child(2) {
    background: rgb(5, 130, 176);
    clip-path: polygon(100% 0%, 117% 51%, 0% 100%, 0% 33%);
    padding: 8rem 20%;
}

h6 {
    font-weight: 800;
}

/* p {
    margin: 0;
} */

#parentDiv {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.about-me, .skills, .contact {
    background-color: white;
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    color: rgb(85,85,85);
}

.quote {
    padding-left: 2rem;
    padding-bottom: 10px;
    color: rgb(49, 78, 101);
    font-weight: 600 !important;
    font-size: 1.5vw;
    font-family: "Montserrat", sans-serif;
}

.about-content {
    padding: 20px 80px 60px 80px;
    font-size: 14px;
    line-height: 1.6;
}

#inner-pic {
    border-radius: 50%;
    width: 250px;
    height: 240px;
    position: relative;
    margin: 20px;
    bottom: 112px;
}

.inner-description {
    position: relative;
    bottom: 250px;
    width: 500px;
    left: 28%;
    color: white;
    text-shadow: 1px 2px 2px black;  

}

.inner-pic-holder:nth-child(2) {
    background: rgb(5, 130, 176);
    color: white;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    padding: 10rem 20%;
    
}


/* ===== PORTFOLIO SECTION */

.portfolio {
    background-color: white;
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    color: rgb(85,85,85);
    font-size: 14px;
}

.portfolio a {
    color: white;
    text-decoration: none;
}

.port-content {
    background-color: white;
    padding: 0px 60px;
    text-align: left;
}

.proj-description {
    padding: 20px 20px 20px 0px;
    line-height: 20px;
}

        /* buttons */
#tech-buttons {
    background-color: rgb(5,131,176);
    color: white;
    border: none;
    margin: 2px;
    font-size: 12px;
    font-weight: 300px;
    width: 100px;
    height: 30px;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 2px black;
}

#github-btn {
    background-color: rgb(5,131,176);
    color: white;
    border: none;
    margin: 2px;
    font-size: 14px;
    font-weight: 300px;
    width: 120px;
    height: 40px;
    letter-spacing: 1.5px;
    text-shadow: 1px 1px 2px black;
}

#img-proj {
    height: 300px;
    max-width: 100%;
    padding-top: 26px;
}

.project-title {
    font-weight: 600;
    color:  rgb(53, 53, 53)!important;
}

#section-label {
    height: 50px;
    width: 100%;
    font-size: 30px;
    font-weight: 400;
    padding: 0px 30px;
    text-transform: uppercase;
    color: rgb(85,85,85);
}

.section-header {
    padding: 20px 20px 0px 20px;
    margin: 0px;
    color: rgba(128, 128, 128, 0.747);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;

}

hr {
    width: 80%;
}

.element-hr {
    width: 90%;
}

.proj-hr {
    width: 100%;
}

.proj-separate {
    border-top: 2px solid red;
}

.tech-proj {
    font-size: 12px;
}

#timeline-exp {
    font-size: larger;
}

/* ==== timeline ==== */

.port-timeline {
    position: relative;
    padding: 50px auto;
    margin: 20px 0;
    width: 1000px;
    letter-spacing: 0px;
    font-size: 14px;
}

.port-timeline::before {
    content:'';
    position: absolute;
    left: 6%;
    width: 2px;
    height: 100%;
    background-color: lightgray;
}

.port-timeline ul li.li-element {
    line-height: normal;
    position: relative;
    width: 100%;
    padding: 0px 20px 40px 0px;
    box-sizing: border-box;
    list-style: none;
}

.port-timeline ul li.li-element::before {
    content: '';
    position: absolute;
    top: 24px;
    left: 16px;
    width: 8px;
    height: 8px;
    background: rgb(5,131,176);
    border-radius: 20%;
}

.li-date {
    font-style: italic;
    position: relative;
    bottom: -20px;
    right: 80px;
    text-align: right;
    width: 86px;
}

.timeline-cont {
    line-height: 1.4;
    padding-left: 60px;
}

/* ====== SKILLS SECTION ====== */

.skills {
    height: 500px;
}

.skills .container {
    padding: 0 40px;
}

.skills #section-label {
    margin-bottom: 60px;
}

.skills .col-md-12 {
    padding-bottom: 20px;
}

.skills .col-md-12 p {
    font-weight: 600;
    font-size: 14px;
}

.progress-wrap h3{
    font-size: 14px;
    font-weight: 400;
}

.progress {
    height: 6px;
    background: rgb(216, 216, 216);
    overflow: visible;
    box-shadow: none;
    margin-bottom: 20px;
    border-radius: 8px;
    font-weight: 600;
}

.progress-bar::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
}
.progress-bar.progress-bar.skill-1::after {
    background-color:  rgba(128, 0, 128, 0.849);
    border-radius: 20px;
    left: 78%;
}
.progress-bar.progress-bar.skill-2::after {
    background-color: rgb(81,43,212);
    border-radius: 20px;
    left: 58%;
}
.progress-bar.progress-bar.skill-3::after {
    background-color: red;
    border-radius: 20px;
    left: 48%;
}
.progress-bar.progress-bar.skill-4::after {
    background-color: rgb(0, 81, 255);
    border-radius: 20px;
    left: 86%;
}
.progress-bar.progress-bar.skill-5::after {
    background-color: rgb(242,146,33);
    border-radius: 20px;
    left: 68%;
}


.progress-bar.skill-1 {
    width: 80%;
    background-color: rgba(128, 0, 128, 0.6);
    border-radius: 8px;
}
.progress-bar.skill-2 {
    width: 60%;
    background-color: rgb(81,43,212, 0.6);
    border-radius: 8px;
}
.progress-bar.skill-3 {
    width: 50%;
    background-color: rgba(255, 0, 0, 0.6);
    border-radius: 8px;
}
.progress-bar.skill-4 {
    width: 90%;
    background-color: rgb(0, 81, 255, 0.6);
    border-radius: 8px;
}
.progress-bar.skill-5 {
    width: 70%;
    background-color: rgb(242, 146, 33, 0.6);
    border-radius: 8px;
}

.progress-bar.skill-1 span {
    position: absolute;
    top: 8px;
    right: 18%;
    color: purple;
}
.progress-bar.skill-2 span {
    position: absolute;
    top: 8px;
    right: 38%;
    color: rgb(81,43,212);
}
.progress-bar.skill-3 span {
    position: absolute;
    top: 8px;
    right: 48%;
    color: red;
}
.progress-bar.skill-4 span {
    position: absolute;
    top: 8px;
    right: 10%;
    color: rgb(0, 81, 255);
}
.progress-bar.skill-5 span {
    position: absolute;
    top: 8px;
    right: 28%;
    color: rgb(242,146,33);
}


/* ======= CONTACT ME SECTION ===== */

.contact {
    padding-top: 100px;
    font-size: 14px;
}

.contact input {
    height: 30px;
    width: 400px;
    margin-bottom: 10px;
    background: rgba(224, 224, 224, 0.473);
    border: none;
    padding: 0 20px;
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.contact .col-xl-5 {
    height: 200px;
    padding: 40px 40px;
    margin: 0;
    font-size: 14px;
}


.contact a { 
    color: rgb(5, 130, 176);
}


form {
    padding: 40px 0;
    position: relative;
    right: 14px;
}

textarea {
    height: 200px;
    width: 400px;
    background: rgba(224, 224, 224, 0.473);
    border: none;
    font-size: 14px;
    padding: 10px 20px;
}

.btn-primary {
    background: rgba(0, 110, 255, 0.89);
    color: white;
    font-size: 14px;
}

.form-control {
    color: #55555598;
}

.contact-icon {
    padding-right: 20px;
}

.footer {
    background: rgb(52,58,64);
    height: 100px;
    width: 100%;
    padding: 20px;
    color: white;
}

.footer a {
    color: rgb(5, 130, 176);
    font-weight: 600;;
}

/*=============== MEDIA QUERIES =======================*/

@media (max-width: 768px) {

    /* --- ABOUT ----*/
    .about-content {
        padding: 20px 30px 20px 30px;
        line-height: 20px;
    }

    .bio {
        padding-bottom: 60px;
    }

    .bg {
        display: none;
    }
    .bg2 {
        display: none;
    }
    /* --- PORTFOLIO ---*/
    .timeline-cont {
        text-align: left;
    }
    .port-content {
        padding: 0px 40px 20px 54px;
    }

    #img-proj {
        height: 400px;
        width: auto;
    }

    #projects-container {
        margin: 0;
    } 

    .section-header {
        font-size: 10px;
        letter-spacing: 1px; 
    }

    .li-element {
        padding-left: 50px;
    }

    .li-date h4 {
        font-size: 20px;
        font-weight: 400;
    }

    .section-separator {
        display: block;
    }

    .proj-hr {
        margin: 20px 0px;
        width: 100%;
        position: relative;
    }

    #img-proj {
        max-height: 568px;
        max-width: 100%;

    }

    /* --- ABOUT --- */

    /* --- CONTACT --- */
    .contact .col-xl-5 {
        padding: 40px 0px;
    }

    form {
        padding: 40px 0;
    }

    .contact .container {
        margin: 20px 40px;
    }

  }

  @media (max-width: 568px) {

    /* --- ABOUTME --- */
    .about-content {
        padding: 0 10px;
    }

    /* --- PORTFOLIO --- */
 

    .port-timeline::before {
        display: none;
    }

    .port-timeline ul li.li-element::before {
        display: none;
    }

    .timeline-cont {
        padding-left: 10px;
        width: 480px;
        line-height: 20px;
    }

    .port-content {
        padding: 0 10px 10px 10px;
    }

    .li-element {
        padding-right: 10px 0px;
    }

    .li-date {
        position: unset;
        padding-bottom: 20px;
        text-align: left;
    }


    ul {
        padding: 0px;
    }

    #img-proj {
        width: 100%;
        padding: 0;
        height: 300px;
    }

    .proj-description {
        width: 400px;
    }

    hr {
        float: left;
    }

    /* --- SKILLS --- */

    .skills {
        height: 550px;
    }

    /* --- CONTACT --- */

    .contact {
        padding-top: 40px;
    }

    .contact .col-xl-5 {
        height: 200px;
        padding: 0;
        position: relative;
        right: 18px;
    }

    .contact .col-xl-7 {
        padding: 0 0 40px 0;
    }


  }
  