/* main font-color:  rgb(53, 53, 53)*/

.bg {
    /* background-image: url("../../assets/bg/charlotte3.jpg"); */
    background: white;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 500px;
    width: 100%;
    
}

.bg2 {
    background-image: url("../../assets/bg/programming.jpeg");
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 200px;
    filter: blur(2px);
    -webkit-filter: blur(0px);

}

h6 {
    font-weight: 800;
}

#parentDiv {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* links */
a {
    color: #333;
    text-decoration: none;
}

.about-me, .skills, .contact {
    background-color: white;
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    color: #333;
    font-size: 16px;
}

.quote {
    padding-left: 2rem;
    padding-bottom: 10px;
    color: rgb(49, 78, 101);
    font-weight: 600 !important;
    font-size: 2vw;
    font-family: "Montserrat", sans-serif;
}

.about-content {
    padding: 20px 80px 60px 80px;
    font-size: 14px;
    line-height: 1.6;
}

#inner-pic {
    border-radius: 50%;
    width: 250px;
    height: 240px;
    position: relative;
    margin: 20px;
    bottom: 112px;
}

.inner-description {
    position: relative;
    bottom: 250px;
    width: 500px;
    left: 28%;
    color: white;
    text-shadow: 1px 2px 2px black;  

}

.inner-pic-holder:nth-child(2) {
    background: rgb(5, 130, 176);
    color: white;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    padding: 10rem 20%;
    
}


/* ===== PORTFOLIO SECTION */

.portfolio {
    background-color: white;
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    color: #333;
    font-size: 14px;
}

.port-content {
    background-color: white;
    padding: 40px 60px;
    text-align: left;
}

.proj-description {
    padding: 10px;
}

        /* buttons */
#tech-buttons {
    background-color: rgb(5,131,176);
    color: white;
    border: none;
    margin: 2px;
    font-size: 12px;
    font-weight: 300px;
    width: 100px;
    height: 30px;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 2px black;
}

#github-btn {
    background-color: rgb(5,131,176);
    color: white;
    border: none;
    margin: 2px;
    font-size: 14px;
    font-weight: 300px;
    width: 140px;
    height: 40px;
    letter-spacing: 1.5px;
    text-shadow: 1px 1px 2px black;
}

#img-proj {
    height: 250px;
    width: 100%;
}

.project-title {
    font-weight: 600;
    color:  rgb(53, 53, 53)!important;
}

label {
    background-color: rgb(5,131,176);
    height: 50px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: white;
}

.content-hr {
    color: gray;
    width: 100%;
    border-top: 6px solid gray !important;
    position: relative;
    bottom: 10px;
    box-shadow: 2px 4px 2px black;
}

.proj-separate {
    border-top: 2px solid red;
}

.tech-proj {
    font-size: 12px;
}

/* ==== timeline ==== */

.port-timeline {
    position: relative;
    padding: 50px auto;
    margin: 20px 0;
    width: 1000px;
    letter-spacing: 0px;
    font-size: 14px;
}

.port-timeline::before {
    content:'';
    position: absolute;
    left: 0%;
    width: 2px;
    height: 100%;
    background-color: lightgray;
}

.port-timeline ul li.li-element {
    line-height: normal;
    position: relative;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    list-style: none;
}

.port-timeline ul li.li-element::before {
    content: '';
    position: absolute;
    top: 24px;
    left: -44px;
    width: 10px;
    height: 10px;
    background: rgb(5,131,176);
    border-radius: 20%;
}

.li-date {
    font-style: italic;
    position: relative;
    bottom: 4px;
    right: 40px;
}

.timeline-cont {
    line-height: 1.4;
}

/* ====== SKILLS SECTION ====== */

#skill-icons {
    padding: 20px 40px 40px 60px;
}

/* ======= CONTACT ME SECTION ===== */

.inner-content {
    height: 500px;
    padding: 0px;
    margin: 0;
}

#contact-container {
    height: 400px;
    width: 80%;
    background-color: rgb(228, 228, 228);
    margin: 0;
    padding: 20px 0px 20px 80px;
}

#p-contact {
    padding-right: 80px;
}

#a-contact {
    color: rgb(5,131,176) !important;
}


/*=============== MEDIA QUERIES =======================*/

@media (max-width: 768px) {
    .about-content {
        padding: 20px 30px;
    }

    .bg {
        display: none;
    }
    .bg2 {
        display: none;
    }

    .timeline-cont {
        text-align: left;
    }
    .port-content {
        padding: 20px 30px;
    }

    .cognixia-projects {
        text-align: none;
    }

    #img-proj {
        width: 100%;
    }

    #projects-container {
        margin: 0;
    } 
  }
  