<div class="parentDiv" (sectionChange)="onSectionChange($event)" style="overflow-y: scroll;">
    <div class="bg"></div>
    <div class="about-me" id="aboutme">
        <label for="aboutme-label">About Me</label>
        <hr class="content-hr"> 
        <div class="about-content">
            <div class="quote"> | Full-Stack Developer with a background in Kinesiology</div>
            <p class="bio">
                Graduated from the <span style="color: rgb(29, 51, 106); font-weight: bold;">University of North Carolina, Greensboro</span> in
                2016 with a
                <span style="color: rgb(198, 198, 29); font-weight: bold;">Bachelor of Science
                    degree in Sports Medicine.</span>  After upon completion, I have decided to take some time
                off to work and
                put
                some thoughts to my decision to
                see whether if I really want to continue my eduction and pursue a career in the
                health and fitness
                field
                or find a new career path. In the mean time,
                I work in manufacturing jobs such as <span style="font-weight: bold;">GKN</span>  and <span style="font-weight: bold;">Corning INC.</span>  while still figuring out
                my pursuit.
                <br>
                <br>
                During the time, I was introduce to coding by a close friend who is a web developer.
                He recommend me to give it a try with web development, and maybe it can change my
                life like it did
                his.
                I took interest, and decided to search online for coding bootcamps.
                I have decided to change my career and pursue coding. Here I am, at the <span style="color: rgb(23, 120, 23); font-weight: bold;">UNCC
                    Full-Time Full Stack
                    Developer</span> bootcamp in 2019,
                with the aspiration of becoming a software engineer/web developer after graduation.
            </p>
        </div>
    </div>
    <div class="bg2"></div>
    <div class="portfolio" id="portfolio">
        <label for="porfolio-label">Portfolio</label>
        <hr class="content-hr">
        <div class="port-content">
            <p>Below are all of my collaborative projects. I work mainly on the frontend of all the projects.</p>
            <div class="proj-element">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6"> <div class="proj-description">
                            <a href="https://projectecomm.herokuapp.com/"><h2 class="project-title">Koscowix</h2></a>
                            <p class="projects-para">Koscowix is an e-commerce website that sells high-end luxurious watches.</p>
                            <p class="projects-para">From stylish sports to bold fashion statements, Koscowix combines unique features and gadgets with a wide range of colours and shapes.</p>
                            <ul class="projects-functions">
                                <li>A webapp built with mainly React.js</li>
                                <li>An environment for customers with sense of fashion and elegance.</li>
                            </ul>
                            <br>
                            <a href="https://github.com/kyang0626/Project-3"><button id="github-btn">Github Info</button></a>
                            <br>
                            <br>
                            <h6 class="tech-proj">TECHNOLOGIES</h6>
                            <button id="tech-buttons">React.js</button>
                            <button id="tech-buttons">JavaScript</button>
                            <button id="tech-buttons">MySql DB</button>
                            <button id="tech-buttons">Node.js</button>
                            <button id="tech-buttons">Bootstrap</button>
                            <button id="tech-buttons">Sequelize</button>
                        </div></div>
                        <div class="col-xl-6">
                            <div class="proj-img-holder">
                                <a href="https://projectecomm.herokuapp.com/"><img id="img-proj" src="../../assets/project-3.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <hr class="proj-separate">
            <div class="proj-element">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="proj-description">
                                <a href="https://sithub-project.herokuapp.com/"><h2 class="project-title">Sithub</h2></a> 
                                <p class="projects-para">Sithub is an online babysitting platform. It connects families with caregivers and allows the parents to have some time to themselves.</p>
                                <ul class="projects-functions">                
                                    <li>Users can register as a babysitter or a parent.</li>
                                    <li>After some online asssessments, the app will find the most suitable candidate for babysitting</li>
                                </ul>
                                <br>
                                <a href="https://github.com/Lara-E/SitHub"><button id="github-btn">Github Info</button></a>
                                <br>
                                <br>
                                <h6 class="tech-proj">TECHNOLOGIES</h6>
                                <button id="tech-buttons">Materialize</button>
                                <button id="tech-buttons">JavaScript</button>
                                <button id="tech-buttons">MySql DB</button>
                                <button id="tech-buttons">Handlebars.js</button>
                                <button id="tech-buttons">Sequelize</button>
                                <button id="tech-buttons">Node.js</button>
                        </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="proj-img-holder">
                                <a href="https://sithub-project.herokuapp.com/"><img id="img-proj" src="../../assets/project-2.png" alt=""></a>
                        </div>
                        </div>
                    </div>
                </div>            
            </div>
            <hr class="proj-separate">
            <div class="proj-element">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6"><div class="proj-description">
                            <a href="https://kyang0626.github.io/group-webpage/"><h2 class="project-title">N'STANT</h2></a>  
                            <p id="nstant-quite" style="font-size: 14px; font-style:italic;">"We all know how frustrating it is to look for some specific food and not be able to find what you want even after spending time going from website to website."</p>
                            <p class="projects-para">N'STANT is an easy to use webpage that allows users to find food places near them using their device's location.</p>
                            <ul class="projects-functions">
                                <li>Users can now make a decision on what to eat in an instant.</li>
                                <li>App only shows food places with a short distance from their location.</li>                                                
                            </ul>
                            <br>
                            <a href="https://github.com/kyang0626/group-webpage"><button id="github-btn">Github Info</button></a> 
                            <br>
                            <br>
                            <h6 class="tech-proj">TECHNOLOGIES</h6>
                            <button id="tech-buttons">Bootstrap</button>
                            <button id="tech-buttons">JavaScript</button>
                            <button id="tech-buttons">Firebase</button>
                            <button id="tech-buttons">JQuery</button>
                            <button id="tech-buttons">Node.js</button>
                            <button id="tech-buttons">API</button>
                        </div></div>
                        <div class="col-xl-6">
                            <div class="proj-img-holder">
                                <a href="https://kyang0626.github.io/group-webpage/"><img id="img-proj" src="../../assets/project-one.png"></a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <h2 style="color: rgb(67, 67, 67);">Apps/Small</h2> -->
            <p style="margin: 20px 40px 80px 40px; float: right; font-style: italic;">Here are all of the small works I did during the 2019 UNCC Coding Bootcamp.</p>
            <br>
            <br>
            <p>Work on this part!</p>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                
                </ol>
            </div>
            <div class="carousel-inner">
                <div *ngLet="let c of carousel" class="carousel-item active"> 
                    <a href="https://kyang0626.github.io/Psychic-Game/"><img id="hw" class="d-block w-80"
                        src="#"
                        height="400px", width="800px;"></a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5><a class="pic-sub" href="https://kyang0626.github.io/Psychic-Game/">The
                                Psychic Game</a>
                        </h5>
                    </div>
                    <br>
                </div>
            </div>
        
    </div>

    <div class="bg2"></div>
    <div class="skills" id="skills">
        <label for="skills">Skills</label>
        <hr class="content-hr">
        <div class="container">
            <div  class="row">
                <div *ngFor="let skill of skills" class="col-4">
                    <p>{{ skill.name }}</p>
                    <img src="../../assets" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="contact" id="contactme">
        <label class="content">Contact Me</label>
                    <hr class="content-hr">
                    <div class="inner-content">
                        <div class="container">
                            <div id="contact-row" class="row">
                                <p id="p-contact">Email:</p> <p><a id="a-contact" href="#" style="color: rgb(49, 96, 145) !important;">kong_yang828@hotmail.com</a></p>     
                            </div>
                            <div id="contact-row" class="row">
                                <p id="p-contact">LinkedIn:</p> <p><a id="a-contact" href="https://www.linkedin.com/in/kong-yang-393a35182/" style="color: rgb(49, 96, 145) !important;">https://www.linkedin.com/in/kong-yang-393a35182/</a></p>
                            </div>
                            <div id="contact-row" class="row">
                                <p id="p-contact">Github:</p> <p><a id="a-contact" href="https://www.github.com/kyang0626/" style="color: rgb(49, 96, 145) !important;">https://www.github.com/kyang0626</a></p>
                            </div>
                            <div id="contact-row" class="row">
                                <p id="p-contact">Facebook:</p> <p><a id="a-contact" href="https://www.facebook.com/kylemclovin93" style="color: rgb(49, 96, 145) !important;">https://www.facebook.com/kylemclovin93</a></p>
                            </div>
                        </div>
                    </div>    
    </div>
</div>







