<div id="parentDiv">
    <div class="bg" style="text-align: center;">
        <div class="inner-pic-holder"></div>
        <div class="inner-pic-holder"> <img id="inner-pic" src="assets/grad-pic.jpg" alt=""></div>
        <div class="inner-description">
            <p style="font-style: italic;">HTML is the noun—the subject that the sentence is all about, CSS is the adjective, dressing up that noun to make it more attractive, 
                and JavaScript is the verb—the interactions and animations on the website
            </p>
        </div>
        <div class="inner-pic-holder"><br></div>
    </div>
    <app-aboutme></app-aboutme>  
    <div class="bg2-mobile">
        <div class="section-separator"></div>
        <div class="section-separator"></div>
        <div class="section-separator"></div>
    </div>
    <section class="portfolio" id="portfolio">
        <p class="section-header">My Work</p>
        <label for="porfolio-label" id="section-label">Portfolio</label>
        <div class="port-content">
            <p>Some of my works recently and in the past.</p>
            <div class="port-timeline">
                <ul>
                    <li class="li-element">
                        <div class="li-date">
                            <p>Now</p>
                        </div>
                        <div class="timeline-cont">
                            <strong>Open for training and contract positions.</strong>
                            <br>
                            <p>Looking for an entry/junior C# software development role.</p> 
                            <p>Currently, learning <span style="color: red; font-weight: bold;">Angular</span> on Udemy <br> with the course: <strong>Angular---The Complete Guide Project</strong>
                            <br>Instructor: Maximilian Schwarzmuller</p>
                            <p>and the course: <strong>Build an app with ASP.NET Core and Angular from scratch</strong>
                            <br>Instructor: Neil Cummings</p>
                        </div>
                    </li>
                    <hr class="timeline-hr">
                    <li class="li-element">
                        <div class="li-date">
                            <p>2019 - 2020</p>
                        </div>
                        <div class="timeline-cont">
                            <strong id="timeline-exp">Cognixia Projects</strong>
                            <br>
                            <div class="cognixia-projects">
                                <p style="padding-top: 10px;">Below are 3 of the console applications I have built on using 
                                    <span style="color: purple; font-weight: bold;">C#</span> during the time at Cognixia.
                                    <br>
                                    During this time, I was focusing on backend work using C# language.
                                </p>
                                <div class="container-fluid" id="projects-container">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-12 col-md-12">
                                            <h6> <a href="https://github.com/kyang0626/hangman" target="blank">Hangman</a></h6>
                                            <img src="assets/projects/hangman.gif" id="c-proj" class="img-fluid" alt="Responsive image">
                                            <br>
                                            <br>
                                            <div class="sm-description">
                                                <p><strong>Hangman</strong>, like the game, is a console app that asks the user to enter a letter and see if it matches the chosen word.</p>
                                                <p>Purpose: demonstrating C# basics - if / else conditons, loops, and data.</p>
                                            </div>   
                                        </div>
                                        <div class="col-xl-6 col-lg-12 col-md-12">
                                            <h6> <a href="https://github.com/kyang0626/Number-Validator" target="blank">Number Validator</a></h6>
                                            <img src="assets/projects/number-validator.gif" alt="Responsive image" class="img-fluid" id="c-proj">
                                            <br>
                                            <br>
                                            <div class="sm-description">
                                                <p><strong>Number Validator</strong> is a console app that asks the user to enter a phone number and it will validate if it is a real phone number.</p>
                                                <p>Purpose: demonstrating C# basics - if / else conditons, loops, and data.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-12 col-md-12">
                                            <h6> <a href="https://github.com/kyang0626/Cash-Register" target="blank">Cash Register</a></h6>
                                            <img src="assets/projects/cash-register.gif" alt="Responsive image" class="img-fluid" id="c-proj">
                                            <br>
                                            <br>
                                            <div class="sm-description">
                                                <p><strong>Cash Register</strong> is a console app that allows the user to look for specific produce by entering letters.</p>
                                                <p>Purpose: implementing Object-Orienting Programming</p>
                                            </div>    
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                        </div>
                        <br>
                    </li>
                    <hr class="timeline-hr">
                    <li class="li-element">                        
                        <div class="li-date">
                            <p>2019</p>
                        </div>
                        <div class="timeline-cont">
                            <strong id="timeline-exp">UNCC Coding Bootcamp</strong>
                            <br>
                            <br>
                            <p>I have work mainly on the frontend aspects (HTML, CSS, layouts, etc...) of the three collaborative projects below. <br>These projects are done by me and a group of students during the bootcamp.</p>
                            <div class="proj-element">
                                <div class="container-fluid" id="projects-container">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6">
                                            <div class="proj-description">
                                                <a href="https://projectecomm.herokuapp.com/" target="blank"><h4 class="project-title">Koscowix</h4></a>
                                                <p class="projects-para">Koscowix is an e-commerce website that sells high-end luxurious watches.</p>
                                                <p class="projects-para">From stylish sports to bold fashion statements, Koscowix combines unique features and gadgets with a wide range of colours and shapes.</p>
                                                <ul class="projects-functions">
                                                    <li>A webapp built with mainly React.js</li>
                                                    <li>An environment for customers with sense of fashion and elegance.</li>
                                                </ul>
                                                <br>
                                                <a href="https://github.com/kyang0626/Project-3" target="blank"><button id="github-btn">Github Info</button></a>
                                                <br>
                                                <br>
                                                <h6 class="tech-proj">TECHNOLOGIES</h6>
                                                <div class="btn-container">
                                                    <button id="tech-buttons"><a href="https://reactjs.org/" target="blank">React.js</a></button>
                                                    <button id="tech-buttons"><a href="https://www.javascript.com/" target="blank">JavaScript</a></button>
                                                    <button id="tech-buttons"><a href="https://www.mysql.com/" target="blank">MySql DB</a></button>
                                                    <button id="tech-buttons"><a href="https://nodejs.org/en/" target="blank">Node.js</a></button>
                                                    <button id="tech-buttons"><a href="https://getbootstrap.com/" target="blank">Bootstrap</a></button>
                                                    <button id="tech-buttons"><a href="https://sequelize.org/" target="blank">Sequelize</a></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6">
                                            <div class="proj-img-holder">
                                                <a href="https://projectecomm.herokuapp.com/" target="blank"><img class="img-fluid" id="bootcamp-proj" src="assets/projects/project-3.png" alt="Responsive image"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="proj-hr">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6">
                                            <div class="proj-description">
                                                <a href="https://sithub-project.herokuapp.com/" target="blank"><h4 class="project-title">Sithub</h4></a> 
                                                <p class="projects-para">Sithub is an online babysitting platform. It connects families with caregivers and allows the parents to have some time to themselves.</p>
                                                <ul class="projects-functions">                
                                                    <li>Users can register as a babysitter or a parent.</li>
                                                    <li>After some online asssessments, the app will find the most suitable candidate for babysitting</li>
                                                </ul>
                                                <br>
                                                <a href="https://github.com/Lara-E/SitHub" target="blank"><button id="github-btn">Github Info</button></a>
                                                <br>
                                                <br>
                                                <h6 class="tech-proj">TECHNOLOGIES</h6>
                                                <div class="btn-container">
                                                    <button id="tech-buttons"><a href="https://www.javascript.com/" target="blank">JavaScript</a></button>
                                                    <button id="tech-buttons"><a href="https://materializecss.com/" target="blank">Materialize</a></button>
                                                    <button id="tech-buttons"><a href="https://www.mysql.com" target="blank">MySql DB</a></button>
                                                    <button id="tech-buttons"><a href="https://handlebarsjs.com/" target="blank">Handlebars.js</a></button>
                                                    <button id="tech-buttons"><a href="https://sequelize.org/" target="blank">Sequelize</a></button>
                                                    <button id="tech-buttons"><a href="https://nodejs.org/en" target="blank">Node.js</a></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6">
                                            <div class="proj-img-holder">
                                                <a href="https://sithub-project.herokuapp.com/" target="blank"><img class="img-fluid" id="bootcamp-proj" src="assets/projects/project-2.png" alt="Responsive image"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="proj-hr">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6">
                                            <div class="proj-description">
                                                <a href="https://kyang0626.github.io/group-webpage/" target="blank"><h4 class="project-title">N'STANT</h4></a>  
                                                <p id="nstant-quite" style="font-size: 14px; font-style:italic;">"We all know how frustrating it is to look for some specific food and not be able to find what you want even after spending time going from website to website."</p>
                                                <p class="projects-para">N'STANT is an easy to use webpage that allows users to find food places near them using their device's location.</p>
                                                <ul class="projects-functions">
                                                    <li>Users can now make a decision on what to eat in an instant.</li>
                                                    <li>App only shows food places with a short distance from their location.</li>                                                
                                                </ul>
                                                <br>
                                                <a href="https://github.com/kyang0626/group-webpage" target="blank"><button id="github-btn">Github Info</button></a> 
                                                <br>
                                                <br>
                                                <h6 class="tech-proj">TECHNOLOGIES</h6>
                                                <div class="btn-container">
                                                    <button id="tech-buttons"><a href="https://getbootstrap.com/" target="blank">Bootstrap</a> </button>
                                                    <button id="tech-buttons"><a href="https://www.javascript.com/" target="blank">JavaScript</a> </button>
                                                    <button id="tech-buttons"><a href="https://firebase.google.com/" target="blank">Firebase</a> </button>
                                                    <button id="tech-buttons"><a href="https://jquery.com/" target="blank">JQuery</a> </button>
                                                    <button id="tech-buttons"><a href="https://nodejs.org/en" target="blank">Node.js</a> </button>
                                                    <button id="tech-buttons"><a href="https://developers.google.com/maps/documentation" target="blank">Google API</a></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6">
                                            <div class="proj-img-holder">
                                                <a href="https://kyang0626.github.io/group-webpage/" target="blank"><img class="img-fluid" id="bootcamp-proj" src="assets/projects/project-one.png" alt="Responsive image"></a>
                                            </div>
                                        </div>
                                        <p class="portfolio-extended">More of my works can be found at my 
                                            <a href="https://www.github.com/kyang0626?tab=repositories" target="blank" style="font-weight: 600; color: #555555;">GitHub</a>.
                                        </p> 
                                    </div>             
                                </div>
                            </div>
                        </div>
                    </li>
                    <hr class="timeline-hr">
                    <li class="li-element">
                        <div class="li-date">
                            <p>2018 - 2019</p>
                        </div>
                        <div class="timeline-cont">
                            Manufacture Associate at Corning Inc.
                        </div>
                    </li>                   
                </ul>
            </div>   
        </div>
    </section>
    <div class="bg2-mobile">
        <div class="section-separator2"></div>
        <div class="section-separator2"></div>
        <div class="section-separator2"></div>
    </div>
    <div class="skills" id="skills">
        <p class="section-header">My Specialty</p>
        <label for="skills" id="section-label">My Skills</label>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Skills that I have used before or good to work with.</p>
                </div>
                <div class="col-md-6" id="skills">
                    <div class="progress-wrap">
                        <h3>C#</h3>
                        <div class="progress">
                            <div class="progress-bar skill-1">
                                <span>80%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" id="skills">
                    <div class="progress-wrap">
                        <h3>ASP.NET Core</h3>
                        <div class="progress">
                            <div class="progress-bar skill-2">
                                <span>60%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" id="skills">
                    <div class="progress-wrap">
                        <h3>Angular</h3>
                        <div class="progress">
                            <div class="progress-bar skill-3">
                                <span>50%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" id="skills">
                    <div class="progress-wrap">
                        <h3>HTML5</h3>
                        <div class="progress">
                            <div class="progress-bar skill-4">
                                <span>90%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" id="skills">
                    <div class="progress-wrap">
                        <h3>MySQL</h3>
                        <div class="progress">
                            <div class="progress-bar skill-5">
                                <span>70%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" id="skills">
                    <div class="progress-wrap">
                        <h3>CSS3</h3>
                        <div class="progress">
                            <div class="progress-bar skill-6">
                                <span>90%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" id="skills">
                    <div class="progress-wrap">
                        <h3>JavaScript</h3>
                        <div class="progress">
                            <div class="progress-bar skill-7">
                                <span>70%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg2-mobile">
        <div class="section-separator"></div>
        <div class="section-separator"></div>
        <div class="section-separator"></div>
    </div>
    <app-contact></app-contact>
    <div class="footer">
        <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </div>   
    <!-- PARENT CONTAINER -->
</div>







